body {
  font-size: 20px;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-size: cover;
  background-image: url("./img/3.jpg");
}

input {
  width: 200px;
  height: 40px;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  width: 100px;
  height: 40px;
  background-color: orangered;
  border-radius: 3px;
  color: white;
}

button:hover {
  background-color: coral;
}
